menu "Xiaomi MSM8953 platform"
	depends on ARCH_MSM8953

source "techpack/xiaomi-msm8953/fingerprint/Kconfig"
source "techpack/xiaomi-msm8953/touchscreen/Kconfig"
source "techpack/xiaomi-msm8953/leds/Kconfig"

endmenu
