menu "Xiaomi MSM8953 platform"
	depends on ARCH_MSM8953

config MACH_XIAOMI_MSM8953
	bool "Support for Xiaomi MSM8953 platform"
	help
	  Say Y here to enable support for Xiaomi MSM8937 platform.

if MACH_XIAOMI_MSM8953

source "techpack/xiaomi-msm8937/touchscreen/Kconfig"

endif # MACH_XIAOMI_MSM8953

endmenu